<app-history-filter (sendToParent)="getFromChild($event)" [WIDGET_REQUEST]="WIDGET_REQUEST"></app-history-filter>


<div *ngIf="widgetResponse.totalDevice">

    <div [ngClass]="{'parent':item.units.length>0}" *ngFor="let item of widgetResponse.totalDevice;let i=index">
        <div *ngIf="item.units.length>0" class="g-flex">
            <mat-label class="p-header" color="primary">{{item.DEVICE_ID}}</mat-label>
        </div>
        <div *ngIf="item.units.length>0" class="g-flex">

            <div *ngFor="let sensor of item.units">
                <mat-card class="tcard">
                    <div>{{sensor.key}}</div>

                    <div>{{sensor.value | number:'2.2'}}</div>
                </mat-card>


            </div>
        </div>
    </div>

</div>
<div *ngIf="loading" class="overlay"> 
    <mat-spinner ></mat-spinner>
</div>
<div class="text-center text-danger text-uppercase">
    {{errMessage?errMessage:''}}
</div>