<!-- <form class="form-container p-2" [formGroup]="newForm">
    <div *ngIf="filterShow1">

        <mat-form-field>
            <mat-label>Plot by</mat-label>
            <mat-select placeholder="Select Unit" (selectionChange)="onFilterChange()" formControlName="PLOT_TYPE">
                <mat-option *ngFor="let key of filterBy" [value]="key">
                    {{key}}
                </mat-option>

            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Select xAxes</mat-label>
            <mat-select placeholder="Select xAxes" (selectionChange)="onFilterChange()" formControlName="PLOT_XAXES">
                <mat-option *ngFor="let key of filterXaxes" [value]="key">
                    {{key}}
                </mat-option>

            </mat-select>
        </mat-form-field>

    </div>

    


</form> -->
<mat-card #Item id="{{widgetIndex}}" [style.width.px]="getProp('W')" [style.height.px]="getProp('H')"
    class="resizable mt-4 mb-3 my-card bg11">

    
    <span appWidgetAccessIf  class="mapped-close">
        <mat-icon color="accent" (click)="WIDGET_REQUEST.dragDisabled=!WIDGET_REQUEST.dragDisabled"> 
            {{WIDGET_REQUEST.dragDisabled?'layers_clear':'layers'}}
        </mat-icon>
        <!-- <mat-icon color="accent" matTooltip="{{WIDGET_REQUEST.dragDisabled?'Drag disabled':'Drag enabled'}}"
         (click)="WIDGET_REQUEST.dragDisabled=!WIDGET_REQUEST.dragDisabled"> 
          {{WIDGET_REQUEST.dragDisabled?'layers_clear':'layers'}}</mat-icon> -->

        <mat-icon (click)="editRequest(WIDGET_REQUEST)" matTooltip="Edit Widget" color="primary">edit</mat-icon>

        <mat-icon (click)="removeRequest(WIDGET_REQUEST)" matTooltip="Remove Widget" color="warn">delete_outline</mat-icon>

      </span>

    <span appWidgetAccessIf class="savewidget" (click)="saveWidget()">
        <mat-icon color="accent">save</mat-icon>

    </span>
    <div *ngIf="filterShow2" [ngClass]="{'show':expandFilter}">
        <app-history-filter [xAxisName]="WIDGET_REQUEST.XAXES" (setLoader)="getLoader($event)"
            (sendToParent)="getFromChild($event)" [WIDGET_REQUEST]="WIDGET_REQUEST"></app-history-filter>

    </div>
    <!-- <plotly-plot [data]="graph1.data" [layout]="graph1.layout" [useResizeHandler]="true" (hover)="hover($event)"
    (mouseleave)="mouseLeave($event)"></plotly-plot> -->
    <!-- <div style="position: absolute;bottom:20px;z-index:999">
        <mat-card>fdf{{widgetResponse.data && widgetResponse.data.length==0?'No':''}}</mat-card>
    </div> -->
    <div class="text-center text-danger text-uppercase">
        {{errMessage?errMessage:''}}
    </div>
    <div [appToHide]="isDataFound">


        <div id="myDiv">

        </div>

        <!-- <plotly-plot [data]="graph1.data" [layout]="graph1.layout" [useResizeHandler]="true">

            </plotly-plot> -->



        <!-- <mat-tab label="Single View">
            <div class="g-flex">
                <div style *ngFor="let a of singleView">
                    <plotly-plot [useResizeHandler]="a.useResize" [data]="a.data" [layout]="a.layout">

                    </plotly-plot>
                </div>
            </div>
        </mat-tab> -->



    </div>
    <!-- <div *ngIf="filterShow2">
    <app-x-axis (xaxis)="getXaxis($event)" [WIDGET_REQUEST]="WIDGET_REQUEST"></app-x-axis>
</div> -->
    <div *ngIf="showGuage">

        <!-- <app-guage [name]="widgetResponse.totalDevice"></app-guage> -->


    </div>
    <div *ngIf="loading" class="overlay">
        <mat-spinner></mat-spinner>
    </div>
</mat-card>