<div class="inner-panel" #plotly [style.top.px]="service.getProp('t',WIDGET_REQUEST)"
    [style.left.px]="service.getProp('l',WIDGET_REQUEST)" [style.width.px]="service.getProp('W',WIDGET_REQUEST)"
    [style.height.px]="service.getProp('H',WIDGET_REQUEST)">


    <mat-card [ngClass]="{'resizable':dataService.getAccess()}" [style.width.px]="service.getProp('W',WIDGET_REQUEST)"
        [style.height.px]="service.getProp('H',WIDGET_REQUEST)" #Item class="my-card bg11 overflow-hidden">

        <app-header-widget appWidgetAccessIf [REQUEST]="WIDGET_REQUEST">

        </app-header-widget>

        <app-footer-widget appWidgetAccessIf [REQUEST]="WIDGET_REQUEST">

        </app-footer-widget>



        <!-- <ng-container *ngIf="!WIDGET_REQUEST.LOADED">
            <app-mask-widget [mask]="WIDGET_REQUEST"></app-mask-widget>
        </ng-container> -->
        <ng-container>
            <app-history-filter [reLoad]="WIDGET_REQUEST.LOADED" [xAxisName]="WIDGET_REQUEST.XAXES"
                (setLoader)="getLoader($event)" (sendToParent)="getFromChild($event)" [WIDGET_REQUEST]="WIDGET_REQUEST">
            </app-history-filter>

            <ngx-skeleton-loader [theme]="{ height: '80px' }" *ngIf="loading" count="2" appearance="line"
                animation="progress"></ngx-skeleton-loader>


            <div *ngIf="errMessage && !loading" class="pos-flex">
                <div class="text-center text-danger text-uppercase">
                    {{errMessage?errMessage:''}}
                </div>
            </div>

            <div *ngIf="!loading" [appToHide]="isDataFound">
                <div class="flx">
                    <div>
                        <app-common-chart1 [isThreshold]="isThreshold" (_sendToParent)="getFromChild2($event)"
                            [WIDGET_REQUEST]="WIDGET_REQUEST" [chartData]="chartData" [totalDevice]="widgetResponse.totalDevice"
                            [chartHeight]="chartHeight" [chartWidth]="chartWidth">

                        </app-common-chart1>
                    </div>
                    <div [style.height.px] ="chartHeight" style="overflow:auto;padding: 10px;">
                        <ng-container *ngFor="let a of this.totalDevice$|async;let i = index">
                            <ng-container *ngIf="a.history.length>0">
                                <span (click)="selectLegend(i,j)" class="legend"
                                    *ngFor="let b of a.unitsArr;let j = index">
                                    <mat-icon [ngStyle]="{color:b.color}">crop_square</mat-icon>
                                    <span [ngClass]="{'activeLegend':b.selected}">
                                        {{b.key}}
                                    </span>
                                </span>
                            </ng-container>

                        </ng-container>
                    </div>


                </div>





            </div>
            <!-- <div *ngIf="filterShow2">
                <app-x-axis (xaxis)="getXaxis($event)" [WIDGET_REQUEST]="WIDGET_REQUEST"></app-x-axis>
            </div> -->
            <!-- <ng-container *ngIf="showGuage">
                            <app-guage [name]="widgetResponse.totalDevice"></app-guage>
                        </ng-container> -->
            <!-- <di > -->

        </ng-container>
    </mat-card>
</div>