<!-- <form class="form-container p-2" [formGroup]="newForm">
    <div *ngIf="filterShow1">

        <mat-form-field>
            <mat-label>Plot by</mat-label>
            <mat-select placeholder="Select Unit" (selectionChange)="onFilterChange()" formControlName="PLOT_TYPE">
                <mat-option *ngFor="let key of filterBy" [value]="key">
                    {{key}}
                </mat-option>

            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Select xAxes</mat-label>
            <mat-select placeholder="Select xAxes" (selectionChange)="onFilterChange()" formControlName="PLOT_XAXES">
                <mat-option *ngFor="let key of filterXaxes" [value]="key">
                    {{key}}
                </mat-option>

            </mat-select>
        </mat-form-field>

    </div>

    


</form> -->
<div *ngIf="filterShow2">
    <app-history-filter (setLoader)="getLoader($event)" (sendToParent)="getFromChild($event)" [WIDGET_REQUEST]="WIDGET_REQUEST"></app-history-filter>

</div>
<!-- <plotly-plot [data]="graph1.data" [layout]="graph1.layout" [useResizeHandler]="true" (hover)="hover($event)"
    (mouseleave)="mouseLeave($event)"></plotly-plot> -->
<!-- <div style="position: absolute;bottom:20px;z-index:999">
        <mat-card>fdf{{widgetResponse.data && widgetResponse.data.length==0?'No':''}}</mat-card>
    </div> -->
<div class="text-center text-danger text-uppercase">
    {{errMessage?errMessage:''}}
</div>
<div [appToHide]="isDataFound">

    <plotly-plot [data]="graph1.data" [layout]="graph1.layout" [useResizeHandler]="true" (hover)="hover($event)"
        (mouseleave)="mouseLeave($event)"></plotly-plot>
</div>
<div *ngIf="showGuage">

    <!-- <app-guage [name]="widgetResponse.totalDevice"></app-guage> -->


</div>
<div *ngIf="loading" class="overlay">
    <mat-spinner></mat-spinner>
</div>