<mat-toolbar color="primary">
    <mat-grid-list class="title-center" cols="1" rowHeight="1:1">
        {{typeName && typeName.PID?'Edit Company':'Add New Company'}}
    </mat-grid-list>

</mat-toolbar>
<form class="form-container" [formGroup]="newForm">
    <div class="row">
        <div class="col-md-7 pt-3">
            <mat-grid-list cols="1" rowHeight="2:1">

                <mat-form-field>
                    <mat-label>COMPANY NAME</mat-label>
                    <input formControlName="COMPANY_NAME" matInput placeholder="" type="text"
                        class="example-right-align">
                </mat-form-field>

            </mat-grid-list>

            <mat-grid-list cols="1" rowHeight="2:1">

                <mat-form-field>
                    <mat-label>ADDRESS LINE1</mat-label>
                    <input formControlName="COMPANY_ADDRESS_LINE1" matInput placeholder="" type="text"
                        class="example-right-align">
                </mat-form-field>

            </mat-grid-list>
            <mat-grid-list cols="1" rowHeight="2:1">

                <mat-form-field>
                    <mat-label>ADDRESS LINE2</mat-label>
                    <input formControlName="COMPANY_ADDRESS_LINE2" matInput placeholder="" type="text"
                        class="example-right-align">
                </mat-form-field>

            </mat-grid-list>


            <mat-grid-list class="mt-2d" cols="1" rowHeight="2:1">
                <mat-label>STATUS</mat-label>
                <mat-radio-group formControlName="STATUS" placeholder="Select an option">
                    <mat-radio-button class="m-2" color="primary" [value]="accessYes">YES</mat-radio-button>

                    <mat-radio-button class="m-2" color="primary" [value]="accessNo">NO</mat-radio-button>
                </mat-radio-group>

            </mat-grid-list>

            <!-- <mat-grid-list cols="1" rowHeight="2:1">

                <mat-form-field>
                    <mat-label>ROLE</mat-label>
                    <mat-select formControlName="ROLE">

                        <mat-option *ngFor="let key of roleData" [value]="key">
                            {{key}}
                        </mat-option>

                    </mat-select>
                </mat-form-field>

            </mat-grid-list> -->

        </div>

        <div class="col-md-5 pt-3 rights">
            <mat-grid-list cols="1" rowHeight="2:1">

                <mat-form-field>
                    <mat-label>APPLICATION SOLUTION NAME</mat-label>
                    <input formControlName="APP_SOLUTION_NAME" matInput placeholder="" type="text"
                        class="example-right-align">
                </mat-form-field>

            </mat-grid-list>
            <mat-grid-list class="mt-2" cols="1" rowHeight="1:1">

                <mat-label>UPLOAD LOGO</mat-label>

                <span *ngIf="bImg" (click)="bImg=null" class="editImg">
                    <!-- <mat-icon matTooltip="Edit Widget" color="secondary">edit</mat-icon> -->
                    Edit logo
                </span>
            </mat-grid-list>
            <mat-grid-list class="mt-2d" cols="1" rowHeight="2:1">

                <div class="container">
                    <div class="card">
                        <div class="drop_box">
                           
                            <ng-container *ngIf="!bImg">
                                <header>
                                    <h4>Select File here</h4>
                                </header>
                                <p>Files Supported: PNG, JPEG & JPG</p>
                                <input type="file" (change)="onSelectFile($event)" hidden accept=".png,.jpg,.jpeg"
                                    id="fileID" style="display:none;">
                                <button (click)="enableClick()" class="btn">Choose File</button>
                            </ng-container>
                            <ng-container *ngIf="bImg">
                                <img class="logo-upload" [src]="bImg | sanitize">
                            </ng-container>
                        </div>

                    </div>
                </div>
                <!-- <img class="logo-upload" [src]="bImg | sanitize">
                <input type="file" class="btn-theme2" id="customFile" name="uploadedImage"
                (change)="onSelectFile($event)" #UploadFileInput>
                <button mat-raised-button (click)="uploadLogo()">Upload</button> -->


            </mat-grid-list>

        </div>

    </div>




    <mat-grid-list cols="10">
        <button (click)="confirmData()" mat-raised-button class="btn-theme1">Save</button>

        <button mat-raised-button (click)="confirmClose()" class="btn-theme2">Cancel</button>


    </mat-grid-list>

</form>