<mat-toolbar color="secondary">

    <button mat-raised-button  (click)="openDialog()" class=" btn-theme1">
      Add New
    </button>
  
  </mat-toolbar>
  <mat-tab-group #tabGroup mat-align-tabs="start" animationDuration="0ms" (selectedTabChange)="tabChanged($event)">
    <mat-tab label="Users">
      <app-users [tabIndex]="tabIndex"></app-users>
  
    </mat-tab>
   
  
    <mat-tab *appAccessrights="true" label="Clients">
      <app-company-list [updateData]="updateComp" [cType]="'CLIENT'" [tabIndex]="tabIndex"
        (dialogClose)="dialogClose($event)"></app-company-list>
  
    </mat-tab>
    
  
  </mat-tab-group>