
<form class="form-container p-2" [formGroup]="newForm">

    <div class="filter">
        <mat-form-field appearance="outline">
            <mat-label>Select Loction</mat-label>
            <mat-select placeholder="" formControlName="LOCATION">
                <mat-option *ngFor="let key of widgetResponse.totalLocations" [value]="key.LOCATION">
                    {{key.LOCATION}}
                </mat-option>

            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Select Device</mat-label>
            <mat-select placeholder="" formControlName="DEVICE_ID">
                <mat-option *ngFor="let key of widgetResponse.totalLocations" [value]="key.MAC_ADDRESS">
                    {{key.MAC_ADDRESS}}
                </mat-option>

            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Enter date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
                <input matStartDate formControlName="START_DATE" placeholder="Start date">
                <input matEndDate formControlName="END_DATE" placeholder="End date">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>

            <!-- <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
            <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error> -->
        </mat-form-field>

        <button mat-button (click)="filterSrc()">
            <mat-icon>search</mat-icon>
        </button>

    </div>
    <div>
    </div>
</form>