<div #table2 [style.top.px]="service.getProp('t',WIDGET_REQUEST)" [style.left.px]="service.getProp('l',WIDGET_REQUEST)"
  [style.width.px]="service.getProp('W',WIDGET_REQUEST)" [style.height.px]="service.getProp('H',WIDGET_REQUEST)"
  class="inner-panel">

  <mat-card [ngClass]="{'resizable':dataService.getAccess()}" [style.width.px]="service.getProp('W',WIDGET_REQUEST)"
    [style.height.px]="service.getProp('H',WIDGET_REQUEST)" class="overflow-hidden my-card bg11">

    <div class="">
      <div *ngIf="loading" class="overlay">
        <mat-spinner></mat-spinner>
      </div>

      <app-header-widget appWidgetAccessIf [REQUEST]="WIDGET_REQUEST">

      </app-header-widget>

      <app-footer-widget appWidgetAccessIf [REQUEST]="WIDGET_REQUEST">

      </app-footer-widget>

      <app-history-filter [reLoad]="WIDGET_REQUEST.LOADED" [xAxisName]="WIDGET_REQUEST.XAXES"
        (setLoader)="getLoader($event)" (sendToParent)="getFromChild($event)" [WIDGET_REQUEST]="WIDGET_REQUEST">
      </app-history-filter>


      <div class="my-card-footer theme2">
        <mat-card-header class="text-uppercase">
          PROGRESS OF {{WIDGET_REQUEST && WIDGET_REQUEST?WIDGET_REQUEST.CONFIG_NAME:''}}
        </mat-card-header>
      </div>

      <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="example-viewport">
        <div *cdkVirtualFor="let element of widgetResponse.totalDevice" class="example-item">
          <div class="t-flex">
            <div class="text-uppercase">{{element.key}}</div>
            <div>
              <span class="my-badge defaultBadge">
                {{element.totalValue | number:'1.2-2'}}
              </span>
              
              <mat-progress-bar mode="determinate" [value]="element.totalValue"></mat-progress-bar>

            </div>

            
          </div>
        
        </div>
      </cdk-virtual-scroll-viewport>



      <!-- <div class="table-card example-container ">


        <table mat-table [dataSource]="widgetResponse.totalDevice" class="demo-table">


          <ng-container matColumnDef="key">
            <th mat-header-cell [hidden]="true" *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element"> {{element.key}} </td>
          </ng-container>

          <ng-container matColumnDef="totalValue">
            <th mat-header-cell [hidden]="true" *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element">

              <span class="my-badge defaultBadge">
                {{element.totalValue | number:'1.2-2'}}
              </span>
              <mat-progress-bar mode="determinate" [value]="element.totalValue"></mat-progress-bar>

            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr *ngIf="dataSource.length==0">

            <td mat-cell *matCellDef> No Data </td>

          </tr>
        </table>

      </div> -->
    </div>
  </mat-card>

</div>