<div class="container-fluid">
  <div class="row">

    <div class="col-md-9 ">


      <div class="container mt-3 " style="padding-left:0px;padding-right:0px;">
        

          <div class="row pb-4" cdkDropList #doneMovieList="cdkDropList" [cdkDropListData]="draggedWidget"
            [cdkDropListConnectedTo]="[doneMovieList]" class="" (cdkDropListDropped)="onDrop($event)">
            
            <div class="row">
              <div [ngClass]="{'col-md-12 ':List=='0','col-md-6':List!='0'}"  class=" example-list2 "  *ngFor="let List of draggedWidget" cdkDrag>
                <mat-card [ngClass]="{'draggedEmpty minWidgetHight':List=='0'}" class="listed-charts mappedList" color="primary">
                  <!-- {{List}} -->
                  <span *ngIf="List" class="mapped-close">
                    <mat-icon (click)="removeRequest(List)" color="warn">delete_outline</mat-icon>

                  </span>


  
                  <!-- <mat-card-subtitle>
                    {{getRequestDetails(List,'n')}}
                  </mat-card-subtitle> -->
                  <!-- <mat-card-content> -->
                    <!-- {{getRequestDetails(List,'d')}} -->
  
                    <!-- <img class="" src="assets/{{getRequestDetails(List,'n')}}-outline-chart.png" /> -->
                    <div *ngIf="getRequestDetails(List,'WIDGET_TYPE')=='HIGHLIGHTS'">

                      <app-highlights [WIDGET_REQUEST]="getRequestDetails(List,'json')"></app-highlights>

                    </div>
                    <div *ngIf="getRequestDetails(List,'WIDGET_TYPE')==='TABLE'">

                      <app-table [WIDGET_REQUEST]="getRequestDetails(List,'json')"></app-table>

                    </div>
                    <div *ngIf="getRequestDetails(List,'WIDGET_TYPE')==='MAPS'">

                     <app-map></app-map>

                    </div>
                    <!-- <app-{{getRequestDetails(List,'WIDGET_TYPE')}}  pMap="{{getRequestDetails(List,'n')}}"></app-getRequestDetails(List,'WIDGET_TYPE')> -->

  
                  <!-- </mat-card-content> -->
                </mat-card>
  
              </div>
            </div>

          </div>
        
      </div>


    </div>


    <div class="widget-panel col-md-3">
      <div class="sticky-top">

        <mat-toolbar style="background-color: transparent;text-align:right" color="none">

          <button mat-raised-button color="primary" (click)="openDialog()" class="demo-button">
            Create Widget
          </button>

        </mat-toolbar>
       
        <mat-grid-list color="primary" cols="2" rowHeight="2:2">
          <mat-label>Available Widget</mat-label>


          <div cdkDropList #moviesList="cdkDropList" [cdkDropListData]="undraggedWidget"
            [cdkDropListConnectedTo]="[doneMovieList]" class="example-list2" (cdkDropListDropped)="onDrop($event)">
            <div class="Widget-block" [cdkDragData]="List" *ngFor="let List of undraggedWidget" cdkDrag>

              <mat-card class="listed-charts" color="primary">

                <span class="mapped-close">
                  <mat-icon (click)="editRequest(List)" color="primary">edit</mat-icon>
                  <mat-icon (click)="removeRequest(List)" color="warn">delete_outline</mat-icon>
                  

                </span>
                <mat-card-subtitle>
                  {{getRequestDetails(List,'n')}} of {{getRequestDetails(List,'config')}}
                </mat-card-subtitle>
                <mat-card-content>
                  {{getRequestDetails(List,'d')}}

                  <img class="" src="assets/{{getRequestDetails(List,'IMG')}}.png" />
                  

                </mat-card-content>
              </mat-card>
            </div>
          </div>


          <!-- <mat-card class="listed-charts" color="primary" *ngFor="let a of dataSource">

            <mat-card-subtitle>{{a.NAME}}</mat-card-subtitle>
            <mat-card-content>{{a.CHART_DATA}}
              <img class="" src="assets/{{a.NAME}}-outline-chart.png" />
              <mat-icon (click)="removeRequest(a)" color="warn">delete_outline</mat-icon>

            </mat-card-content>
          </mat-card> -->



        </mat-grid-list>
      </div>

    </div>
  </div>
</div>