.container-fluid {
    background: #f5f5f5;
    
}
.widgetDraggedPanel{
    height: 100%;
}
.init-text{
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    justify-content: center;
    text-align: center;
    justify-items: end;
    width: 100%;
    color: #888;
    text-transform: uppercase;
}
.listed-charts {
    margin-bottom: 5px;
    padding: 0;
    position: relative;
}
.minWidgetHight{
    height: 500px !important;
}
.draggedEmpty{

    border: 1px dotted green;
}

.mapped-close {
    position: absolute;
    top: 3px;
    right: 13px;
    z-index: 3;
}

.listed-charts img {
    height: 50px;
    margin-top: 6px; filter: sepia(100%) hue-rotate(190deg) saturate(500%); 
}

.Widget-block .listed-charts {
    background:rgba(0, 0, 0, 0.3);
    border: 0px solid #fff;
    padding:5px;
    mat-card-subtitle ,mat-card-content{
        color: #fff !important
    }
}

.widget-panel {
    background-color: dodgerblue;
    // background-image: linear-gradient(315deg, dodgerblue 0%, #0c0c0c 74%);
    position: relative;transition: .5s all;
}
.closed{
    cursor: pointer;
    position: fixed;top:65px;right:20px;z-index: 9999;    background: #f3f3f3;
    border-radius: 3px;height: 24px;
}
.openWidget{cursor: pointer;
    position: absolute;top:5px;right:5px;z-index: 999;
}

.widget-panel mat-label {
    color: #fff
}

.listed-charts mat-card-content {
    display: flex;
    justify-content: space-evenly;
    
}

.listed-charts mat-card-subtitle {
    margin-bottom: 0;
}




// drag/drop

.example-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
}

.example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    // background: white;
    border-radius: 4px;
    overflow: hidden;
    // display: block;
}

.example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}