<div class="container-fluid">
  <div class="row">

    <div [ngClass]="{'col-md-9':isWidgetOpen,'col-md-12':!isWidgetOpen}" class=" ">


      <div class="container mt-3 " style="padding-left:0px;padding-right:0px;">
        

          <div class="row pb-4" cdkDropList #doneMovieList="cdkDropList" [cdkDropListData]="draggedWidget"
            [cdkDropListConnectedTo]="[doneMovieList]" class="" (cdkDropListDropped)="onDrop($event)">
            
            <div class="row ">
              <div [ngClass]="{'col-md-12 ':List=='0'||getRequestDetails(List,'WIDGET_TYPE')=='MAPS','col-md-6':List!='0'}"  class="mb-2 example-list2 "  *ngFor="let List of draggedWidget" cdkDrag>
                <mat-card [ngClass]="{'draggedEmpty minWidgetHight':List=='0'}" class="listed-charts mappedList" color="primary">
                  <!-- {{List}} -->
                  <span appWidgetAccessIf *ngIf="List" class="mapped-close">
                    <mat-icon (click)="removeRequest(List)" color="warn">delete_outline</mat-icon>

                  </span>


  
                  <!-- <mat-card-subtitle>
                    {{getRequestDetails(List,'n')}}
                  </mat-card-subtitle> -->
                  <!-- <mat-card-content> -->
                    <!-- {{getRequestDetails(List,'d')}} -->
  
                    <!-- <img class="" src="assets/{{getRequestDetails(List,'n')}}-outline-chart.png" /> -->
                    <div *ngIf="getRequestDetails(List,'WIDGET_TYPE')=='HIGHLIGHTS'">

                      <app-highlights [WIDGET_REQUEST]="getRequestDetails(List,'json')"></app-highlights>

                    </div>
                    <div *ngIf="getRequestDetails(List,'WIDGET_TYPE')==='TABLE'">

                      <app-table [WIDGET_REQUEST]="getRequestDetails(List,'json')"></app-table>

                    </div>
                    <div *ngIf="getRequestDetails(List,'WIDGET_TYPE')==='MAPS'">

                     <app-map [WIDGET_REQUEST]="getRequestDetails(List,'json')"></app-map>

                    </div>
                    <div *ngIf="getRequestDetails(List,'WIDGET_TYPE')==='CHARTS'">

                      <app-plotly [WIDGET_REQUEST]="getRequestDetails(List,'json')"></app-plotly>
 
                     </div>

                </mat-card>
  
              </div>
            </div>

          </div>
        
      </div>


    </div>


    <div *ngIf="isWidgetOpen" [ngClass]="{'col-md-3':isWidgetOpen}" class="widget-panel ">

      <span class="closed">
        <mat-icon color="primary" (click)="closePanel();isWidgetOpen=false">close</mat-icon>

      </span>
      <div class="sticky-top">

        <mat-toolbar appWidgetAccessIf style="background-color: transparent;text-align:right" color="none">

          <button mat-raised-button color="primary" (click)="openDialog()" class="demo-button">
            Create Widget
          </button>

        </mat-toolbar>
       
        <mat-grid-list color="primary" cols="2" rowHeight="2:2">
          <mat-label>Available Widget</mat-label>


          <div cdkDropList #moviesList="cdkDropList" [cdkDropListData]="undraggedWidget"
            [cdkDropListConnectedTo]="[doneMovieList]" class="example-list2" (cdkDropListDropped)="onDrop($event)">
            <div class="Widget-block" [cdkDragData]="List" *ngFor="let List of undraggedWidget" cdkDrag>

              <mat-card class="listed-charts" color="primary">

                <span appWidgetAccessIf class="mapped-close">
                  <mat-icon (click)="editRequest(List)" color="primary">edit</mat-icon>
                  <mat-icon (click)="removeRequest(List)" color="warn">delete_outline</mat-icon>
                  

                </span>
                <mat-card-subtitle>
                  {{getRequestDetails(List,'n')}} of {{getRequestDetails(List,'config')}}
                </mat-card-subtitle>
                <mat-card-content>
                  {{getRequestDetails(List,'d')}}

                  <img class="" src="assets/{{getRequestDetails(List,'IMG')}}.png" />
                  

                </mat-card-content>
              </mat-card>
            </div>
          </div>


          <!-- <mat-card class="listed-charts" color="primary" *ngFor="let a of dataSource">

            <mat-card-subtitle>{{a.NAME}}</mat-card-subtitle>
            <mat-card-content>{{a.CHART_DATA}}
              <img class="" src="assets/{{a.NAME}}-outline-chart.png" />
              <mat-icon (click)="removeRequest(a)" color="warn">delete_outline</mat-icon>

            </mat-card-content>
          </mat-card> -->



        </mat-grid-list>
      </div>

    </div>
  </div>
</div>