.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  .btn-cnt{
    margin-top: 10px;

  }
  .chart-type img{
      max-height: 65px;
      width: 100%;
  }
  .chart-type mat-card-subtitle{
    text-align: center;
  }
  .title-center {
    flex: 1 1 auto;
  }
  .isSelected{
      background: #f3f3f3!important;
      border:1px solid #09ea69!important;
      color:#fff !important;
  }