/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
.mat-tab-label, .mat-tab-label-content{
    color:#444 !important;
  }
  .mat-header-cell{
    text-transform: uppercase;
  }
  .form-container{
    // display: flex;
    justify-content: center;
  }
  .demo-table ,.inner-tbl{
    width: 100%;
  }
  .btn-layer{
    display: flex;
    justify-content: right;
  }
  .inner-tbl tr th{
    background: #39395f;font-size: xx-small;text-transform: uppercase;
    color:#fff;font-weight: 300;padding: 10px;
  }
  .inner-tbl tr td{
    background: #d3d3ff;
    color:#000;
    border-bottom:1px solid #ddd;padding: 10px;
  }
  .form-container{
    margin-top: 1em;
}
.title-center {
    flex: 1 1 auto;
  }
  .form-container mat-label{
  text-transform: uppercase;
  }
  .form-container button{
    margin-right: 8px;
  }
  .demo-table {
    width: 100%;
  }
  .my-card-footer{
    position: absolute;
    width: 100%;z-index: 2;bottom:0;left:0;right:0;
    height: 35px;overflow: hidden;background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.success{
  color:#329932;
}

// resize
.rectangle {
  position: relative;
  top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 150px;
  background-color: #fd4140;
  border: solid 1px #121621;
  color: #121621;
  margin: auto;
}

mwlResizable {
  box-sizing: border-box; // required for the enableGhostResize option to work
}

.resize-handle-top,
.resize-handle-bottom {
  position: absolute;
  height: 5px;
  cursor: row-resize;
  width: 100%;
}

.resize-handle-top {
  top: 0;
}

.resize-handle-bottom {
  bottom: 0;
}

.resize-handle-left,
.resize-handle-right {
  position: absolute;
  height: 100%;
  cursor: col-resize;
  width: 5px;
}

.resize-handle-left {
  left: 0;
}

.resize-handle-right {
  right: 0;
}
  