.activecard{
    background: #92A8D1;
    border-radius: 4px;
}
.activecard2{
    background: #c8d3e8;
    border-radius: 4px;
}
.activecard .sub-hdr{
    color:#7fff00 !important;
}
.activecard2 .sub-hdr{
    color:orangered !important;
}
.flexpanel{
    display: flex;
    height: 14vh;
    line-height: 2;
        justify-content: space-evenly;
    align-items: center;
}
.flexpanel>div{
    width: 50%;    text-align: center;
}
.wordCloud{
    background-color: #6387c3;
    box-shadow: 0 2px 10px #000;
}
.my-card1{
    height: 275px;width:22vw;
    position: relative;margin-top: 0 !important;  
      display: flex;
    justify-content: space-around;
    align-items: center;
    // background: #6387c3 !important;
    background: linear-gradient(45deg,#6387c3,#7ca9f4) !important;
}
.my-card-header{
    position: absolute;width: 100%;z-index: 2;top:0;left:0;right:0;
    height: 70px;overflow: hidden;background: #a3c2f7;
}


.dashboard-content{
    padding: 2em;
}
.container-fluid{
    background: #f3f3f3;
}
.result1{
    background-color: #fff;
    box-shadow: 0 2px 30px #000;
}
.timep{
    background:linear-gradient(45deg,#444,#888) ;
    box-shadow: 0 2px 4px #444;
}
.timep>mat-card-content{
    font-size: 1em;
    color: #fff;
    font-weight: 300;text-align:left;
    margin-bottom:0;
}
.result2{
    background: linear-gradient(45deg, #b0cbf8, #f1f6fd    );
    box-shadow: 0 2px 4px #444;
}

.result3{
    background: linear-gradient(45deg, #fff, #f1f6fd    );
    box-shadow: 0 2px 4px #444;
}
.result4{
    position: relative;
    background: linear-gradient(45deg, #b0cbf8, #f1f6fd    );
    box-shadow: 0 2px 4px #444;
    height: 336px;
}
.result5{
    background: #fff;
    box-shadow: 0 2px 4px #444;
}

.card-footer{
    position: absolute;z-index: 3;
    background: rgb(0, 0,0,.1);bottom: 0;width: 100%;left:0;right:0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;text-transform: uppercase;color:#444;

}
.mat-card-content{
    position: relative;
}
.mat-card-content .abs-content{
    position: absolute;
    min-width: 60px;
    min-height: 60px;
    z-index: 1;
    top: -70px;
    display: flex;
    justify-content: center;    align-items: center;
    box-shadow: 0 1px 2px #000;
    
}

.abs-content{
    padding: 10px;
}
.abs-content img{
    height: 70px;
    filter: brightness(0) invert(1);

}
.abs1,.abs2,.abs3,.abs4{
    background-color:#b0cbf8 !important;
}
.abs1{
    background-color: orange;

}
.abs2{
    background-color: blueviolet;

}
.abs3{
    background:linear-gradient(45deg, green,#2a881d) !important;

}
.abs4{
    background:linear-gradient(45deg, #c00000
    ,#cc3232
    ) !important;

}
.abs-content mat-icon{
color:#fff;
}
.result1 mat-card-subtitle{
    color:#24244e;
}
mat-card-content,mat-card-subtitle{
    text-align: right;
    // text-transform: uppercase;
}
mat-card-content{
    font-size: 2em;
    color:#444;font-weight:300;
    
}
.result1 mat-card-content mat-icon{
    text-shadow: 0 1px 2px #000;
}
.container-fluid{
    position: relative;
}
.floating{
    // background-color: #333FFF;
    position: absolute;z-index: 2;
    // width: 30px;
    height: 30px;
    // width: 100%;
    top:110px;right: 2px;
}
.wordCloud{
    background-color: #6387c3;
    box-shadow: 0 2px 10px #000;
}
.heatCnt{
    background-color: #e4edfc;
    
}
.bg1{
    background: #fff;
}
.bg1 img,.my-card img{
    height: 60px;
}
.hrs{
    font-size: 17px;
    color:orange;
    text-transform: uppercase !important;
    font-weight: 500;
    text-shadow: 0 1px 1px #000;
}
.c-time{
    width: 70px;height:70px;border-radius:50%;background-color: #fff;
    // box-shadow: 0 2px 30px #000;
}
.c-time2{
    width: 200px;height:100px;border-radius:3px;background-color: #fff;
   
}
.ct{
    text-shadow: 0 1px 3px #000;
    font-size: 3em;color:#fff;
}

.ct2{
    text-shadow: 0 1px 2px #000;
    font-size: 2em;color:orange;
}
.numbs{
    font-size: 2.4em;
    padding: 10px 20px;
    height: 100px;
    background: rgba(255, 255, 255, 0.8);
    color: #444;
    border-radius: 50%;
    box-shadow: 0 2px 16px #000;
}
.box{
    height: 63px;
    display: inline-block;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    font-weight: 400;font-size: 1.4em;
    color: #fff !important;
}
.m-hdr{
    font-size: 1.5em;color:#444;margin-bottom: 10px;justify-content:center;
}
.sub-hdr{
    font-size: 2em;
    letter-spacing: 2PX;
    text-transform: uppercase;
    text-shadow: 0 1px 2.5px #000;

}
.mat-card-header.sub-hdr{
    flex-direction:column !important;
}
.img-box,.c-time11,.c-time21{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    margin-top: 10px;

}