
<div #highlights  [style.top.px]="service.getProp('t',WIDGET_REQUEST)" [style.left.px]="service.getProp('l',WIDGET_REQUEST)" [style.width.px]="service.getProp('W',WIDGET_REQUEST)"
[style.height.px]="service.getProp('H',WIDGET_REQUEST)" class="inner-panel">

<mat-card [ngClass]="{'resizable':dataService.getAccess()}"  [style.width.px]="service.getProp('W',WIDGET_REQUEST)" [style.height.px]="service.getProp('H',WIDGET_REQUEST)" class="overflow-hidden my-card bg11">
    <div class="my-card-footer theme2">
        <mat-card-header class="text-uppercase">
          HIGHLIGHTS OF {{WIDGET_REQUEST && WIDGET_REQUEST?WIDGET_REQUEST.CONFIG_NAME:''}}
        </mat-card-header>
      </div>
    <app-header-widget appWidgetAccessIf [REQUEST]="WIDGET_REQUEST">

    </app-header-widget>

    <app-footer-widget appWidgetAccessIf [REQUEST]="WIDGET_REQUEST">

    </app-footer-widget>



    <!-- <ng-container *ngIf="!WIDGET_REQUEST.LOADED">
        <app-mask-widget [mask]="WIDGET_REQUEST"></app-mask-widget>
    </ng-container> -->

    <ng-container *ngIf="WIDGET_REQUEST.LOADED">


    <div *ngIf="WIDGET_REQUEST.WIDGET_DATA == 'COUNT'">
        <mat-card-header class="text-dark sub-hdr">
            Total Count
        </mat-card-header>
        <mat-card-content>
            <span class="numbs">
                {{WIDGET_REQUEST && WIDGET_REQUEST?WIDGET_REQUEST.MAC_COUNT:''}}
            </span>
            <span class="hrs">{{deviceType}}</span>


            <!-- <img class="" src="assets/ip.png" /> -->
        </mat-card-content>
    </div>
    <div class="card activecard" *ngIf="WIDGET_REQUEST.WIDGET_DATA == 'STATUS'">

        <div class="flexpanel">
            <div>
              <span class="numbs">
                  {{WIDGET_REQUEST && WIDGET_REQUEST?WIDGET_REQUEST.activeCount:''}}
              </span>        
            </div>
            <div class="sub-hdr">
                  {{labelMessage}}
            </div>
          </div>
                  
    </div>

    <div class="card activecard2 mt-2" *ngIf="WIDGET_REQUEST.WIDGET_DATA == 'STATUS'">

        <div class="flexpanel">
            <div>
              <span class="numbs">
                  {{WIDGET_REQUEST && WIDGET_REQUEST?WIDGET_REQUEST.inactiveCount:''}}
              </span>        
            </div>
            <div class="sub-hdr">
                {{labelMessage2?labelMessage2:''}}
            </div>
          </div>
                  
    </div>

    <!-- <div *ngIf="WIDGET_REQUEST.WIDGET_DATA == 'STATUS'">
        <mat-card-header class="text-dark sub-hdr">
            {{labelMessage2?labelMessage2:''}}
        </mat-card-header>
        <mat-card-content>
            <span class="numbs">
                {{WIDGET_REQUEST && WIDGET_REQUEST?WIDGET_REQUEST.inactiveCount:''}}
            </span>
            <span class="hrs">{{deviceType}}</span>

        </mat-card-content>
    </div> -->
    </ng-container>
</mat-card>

</div>