<mat-toolbar color="primary">
    <mat-grid-list class="title-center" cols="1" rowHeight="1:1">
        {{typeName && typeName.PID?'Edit User':'Add New User'}}
    </mat-grid-list>

</mat-toolbar>
<form class="form-container" [formGroup]="newForm">
    <div class="row">
        <div class="col-md-7">
            <mat-grid-list cols="1" rowHeight="2:1">

                <mat-form-field>
                    <mat-label>Select Company</mat-label>
                    <mat-select [disabled]="typeName && typeName.COMPANY_NAME?typeName.COMPANY_NAME:false"
                        formControlName="COMPANY_ID">

                        <mat-option *ngFor="let key of companiesList" [value]="key.PID">
                            {{key.COMPANY_NAME?key.COMPANY_NAME:''}}
                        </mat-option>

                    </mat-select>
                </mat-form-field>

            </mat-grid-list>

            <mat-grid-list cols="1" rowHeight="2:1">

                <mat-form-field>
                    <mat-label>FIRST NAME</mat-label>
                    <input formControlName="FIRST_NAME" matInput placeholder="" type="text" class="example-right-align">
                </mat-form-field>

            </mat-grid-list>

            <mat-grid-list cols="1" rowHeight="2:1">

                <mat-form-field>
                    <mat-label>LAST NAME</mat-label>
                    <input formControlName="LAST_NAME" matInput placeholder="" type="text" class="example-right-align">
                </mat-form-field>

            </mat-grid-list>
            <mat-grid-list cols="1" rowHeight="2:1">

                <mat-form-field>
                    <mat-label>LOGIN NAME</mat-label>
                    <input formControlName="LOGIN_NAME" matInput placeholder="" type="text" class="example-right-align">
                </mat-form-field>

            </mat-grid-list>
            <mat-grid-list cols="1" rowHeight="2:1">

                <mat-form-field>
                    <mat-label>PASSWORD</mat-label>
                    <input formControlName="PASSWORD" matInput placeholder="" type="text" class="example-right-align">
                </mat-form-field>

            </mat-grid-list>

            <mat-grid-list cols="1" rowHeight="2:1">

                <mat-form-field>
                    <mat-label>ROLE</mat-label>
                    <mat-select formControlName="ROLE">

                        <mat-option *ngFor="let key of roleData" [value]="key">
                            {{key}}
                        </mat-option>

                    </mat-select>
                </mat-form-field>

            </mat-grid-list>

        </div>

        <div class="col-md-5 rights">
            <mat-grid-list cols="1" rowHeight="1:1">

                <mat-label>PERMISSIONs:</mat-label>
            </mat-grid-list>
            <mat-grid-list class="mt-2" cols="1" rowHeight="1:1">

                <mat-label>WIDGET RIGHTS(READ/WRITE)</mat-label>

            </mat-grid-list>
            <mat-grid-list cols="1" rowHeight="2:1">
                
                <mat-radio-group formControlName="WIDGETS_RIGHTS" placeholder="Select an option">
                    <mat-radio-button color="primary" class="m-2" [value]="accessYes">YES</mat-radio-button>

                    <mat-radio-button color="primary"  class="m-2" [value]="accessNo">NO</mat-radio-button>
                </mat-radio-group>

            </mat-grid-list>
        </div>
    </div>




    <mat-grid-list cols="10">
        <button (click)="confirmData()" mat-raised-button color="primary">Save</button>

        <button mat-raised-button (click)="confirmClose()" color="warn">Cancel</button>


    </mat-grid-list>

</form>