<!-- <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="map"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="my-card-footer">
                <mat-card-header class="text-uppercase">
                    Live locations OF {{WIDGET_REQUEST && WIDGET_REQUEST?WIDGET_REQUEST.CONFIG_NAME:''}}
                </mat-card-header>
            </div>
        </div>
    </div>
</div> -->

<div class="resizable">
    
    <div class="resizable11" id="map"></div>
    
    <div *ngIf="cityLocations.length>0" class="cityFilter">
        <div (click)="showByCity(a)"  *ngFor="let a of cityLocations">
            <mat-card  [ngClass]="{'selected':a.isSelected==true}">
                <!-- <mat-label> -->
                    <!-- {{a.isSelected}} -->
                    {{a.LOCATION}}
                <!-- </mat-label> -->
    
            </mat-card>
        </div>
        
    </div>
    <div class="my-card-footer">
        <mat-card-header class="text-uppercase">
            Live locations OF {{WIDGET_REQUEST && WIDGET_REQUEST?WIDGET_REQUEST.CONFIG_NAME:''}}
        </mat-card-header>
    </div>
</div>