.mat-label{
    text-transform: uppercase;
}

  mat-form-field {
    width: 100%;
  }
  .addr-row{
    margin-bottom: 5px;
    padding: 5px 5px 0;
    // background: #cad4d8;
    position: relative;
    border-radius: 5px;
  }
  .removeParam{
    position: absolute;z-index: 10;top:5px;right:45px;
  }