<mat-toolbar color="primary">
    <mat-grid-list class="title-center" cols="1" rowHeight="1:1">
        {{typeName && typeName.PID?'Edit Config':'Add New Config'}}
    </mat-grid-list>

</mat-toolbar>

<form class="form-container" [formGroup]="newForm">


    <mat-tab-group [(selectedIndex)]="demo1TabIndex" #tabGroup mat-align-tabs="start" animationDuration="0ms">

        <mat-tab label="Config Details">
            <div class="row mt-2">

                <div class="col-md-4">
                    <mat-grid-list cols="1" rowHeight="2:1">

                        <mat-form-field>
                            <mat-label>SELECT COMPANY</mat-label>
                            <mat-select formControlName="COMPANY_ID">

                                <mat-option *ngFor="let key of companiesList" [value]="key.PID">
                                    {{key.COMPANY_NAME}}
                                </mat-option>

                            </mat-select>
                        </mat-form-field>

                    </mat-grid-list>
                </div>
                <div class="col-md-4">
                    <mat-form-field>
                        <mat-label>CONFIG NAME</mat-label>
                        <input formControlName="CONFIG_NAME" matInput placeholder="" type="text"
                            class="example-right-align">
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field>
                        <mat-label>ASSET</mat-label>
                        <!-- <input formControlName="ASSET_TYPE" matInput placeholder="" type="text" class="example-right-align"> -->
                        <mat-select formControlName="ASSET_ID">

                            <mat-option *ngFor="let key of assetTypes" [value]="key.PID">
                                {{key.NAME}}
                            </mat-option>

                        </mat-select>

                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field>
                        <mat-label>INDUSTRIAL TYPE</mat-label>
                        <!-- <input matInput formControlName="INDUSTRIAL_TYPE" placeholder="" type="text" class="example-right-align"> -->
                        <mat-select formControlName="INDUSTRIAL_TYPE">

                            <mat-option *ngFor="let key of industryType" [value]="key">
                                {{key}}
                            </mat-option>

                        </mat-select>
                    </mat-form-field>
                </div>


                <div class="col-md-4">
                    <mat-form-field>
                        <mat-label>INDUSTRIAL DATA SOURCE</mat-label>
                        <mat-select formControlName="INDUSTRIAL_DATA_SOURCE">

                            <mat-option *ngFor="let key of IndustrialDataSource" [value]="key">
                                {{key}}
                            </mat-option>

                        </mat-select>

                    </mat-form-field>
                </div>



                <div class="col-md-4">
                    <mat-form-field>
                        <mat-label>SELECT SENSOR</mat-label>
                        <mat-select (selectionChange)="onSENSORChange($event)" formControlName="SENSOR">

                            <mat-option *ngFor="let key of assetSensors" [value]="key.PID">
                                {{key.NAME}}
                            </mat-option>

                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-md-4">
                    <mat-form-field>
                        <mat-label>SENSOR DATA TYPE</mat-label>
                        <!-- <input matInput formControlName="SENSOR_DATA_TYPE" placeholder="" type="text" class="example-right-align"> -->
                        <mat-select formControlName="SENSOR_DATA_TYPE">

                            <mat-option *ngFor="let key of SensorData" [value]="key">
                                {{key}}
                            </mat-option>

                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field>

                        <mat-label>SELECT PROTOCOL</mat-label>

                        <mat-select formControlName="CONNECTION_TYPE">
                            <mat-option *ngFor="let key of assetConn" [value]="key.PID">
                                {{key.CONN_NAME}}
                            </mat-option>

                        </mat-select>

                    </mat-form-field>

                </div>


                <div class="col-md-4">
                    <mat-icon (click)="unselect($event)">refresh</mat-icon>Reset Protocol

                </div>
                <div class="col-md-8 mt-2 mb-2 ">
                    <mat-label style="margin-right:10px;font-weight:500">Are you gonna set STATIC COORDS -
                        LATITUDE,LONGITUDE for your
                        devices
                    </mat-label>

                    <div class="mt-2">

                        <mat-radio-group (change)="changeValue($event)" formControlName="STATIC_COORDS"
                            aria-label="Select an option">
                            <mat-radio-button style="margin-right:10px;" color="primary" [value]="macActive">YES
                            </mat-radio-button>
                            <mat-radio-button color="primary" [value]="macInactive">NO</mat-radio-button>
                        </mat-radio-group>
                    </div>


                </div>
            </div>





            <mat-grid-list *ngIf="typeName && typeName.PID" cols="10">
                <button (click)="confirmData()" mat-raised-button class="m-2 btn-theme1">Update Config</button>

                <button mat-raised-button (click)="confirmClose()" class="m-2 btn-theme2">Cancel</button>


            </mat-grid-list>

        </mat-tab>


        <mat-tab *ngIf="!typeName" label="Device Details">
            <mat-grid-list cols="1" rowHeight="2:1">
                <div class="row mt-2">
                    <div *ngIf="!typeName" class="col-md-2 offset-md-10">
                        <div class="p-2">
                            <button (click)="addMAC($event)" mat-button>
                                <mat-icon>library_add</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-10 offset-md-1">
                        <ng-container formArrayName="MAC_DETAILS">


                            <ng-container *ngFor="let item of MAC_DETAILS.controls; let i = index">

                                <div class="row addr-row" [formGroupName]="i">

                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <mat-label>NAME</mat-label>
                                            <mat-select formControlName="MAC_NAME">

                                                <mat-option *ngFor="let key of deviceType" [value]="key">
                                                    {{key}}
                                                </mat-option>

                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <mat-label>ADDRESS</mat-label>
                                            <input matInput formControlName="MAC_ADDRESS" placeholder="" type="text"
                                                class="example-right-align">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <mat-label>LOCATION</mat-label>
                                            <input matInput formControlName="LOCATION" placeholder="" type="text"
                                                class="example-right-align">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <mat-label>LATITUDE</mat-label>
                                            <input matInput formControlName="LATITUDE" placeholder="" type="text"
                                                class="example-right-align">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <mat-label>LONGITUDE</mat-label>
                                            <input matInput formControlName="LONGITUDE" placeholder="" type="text"
                                                class="example-right-align">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <div>
                                            <mat-label>STATUS</mat-label>
                                        </div>

                                        <mat-radio-group formControlName="MAC_STATUS" aria-label="Select an option">
                                            <mat-radio-button [value]="macActive">Active</mat-radio-button>
                                            <mat-radio-button [value]="macInactive">In Active</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                    <mat-grid-list *ngIf="typeName && typeName.PID" cols="10">
                        <button (click)="updateDeviceDetails()" mat-raised-button class="m-2 btn-theme1">
                            Update MAC</button>

                        <button mat-raised-button (click)="confirmClose()" class="m-2 btn-theme2">Cancel</button>


                    </mat-grid-list>
                </div>


            </mat-grid-list>

        </mat-tab>

        <mat-tab label="Parameter Details">
            <mat-grid-list cols="1" rowHeight="2:1">

                <div class="row">
                    <div class="col-md-12  mt-2">
                        <mat-grid-list rowHeight="2:1" cols="1">
                            <!-- <mat-label color="primary">
                                ADD PARAMETERS, IF AVAILABLE
                                
    
    
                            </mat-label> -->
                            <button (click)="addParameters()" mat-raised-button class="btn-theme2 ">
                                <mat-icon color="primary">note_add</mat-icon>
                                PARAMS
                            </button>
                        </mat-grid-list>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-11 offset-md-1 mt-2">
                        <mat-grid-list rowHeight="2:1" cols="1">

                            <ng-container formArrayName="PARAMETERS">
                                <ng-container *ngFor="let item of PARAMETERS_DETAILS.controls; let i = index">


                                    <div class="row addr-row" [formGroupName]="i">
                                        <mat-icon class="removeParam" color="warn" (click)="removeParameters(i)">
                                            restore_from_trash</mat-icon>
                                        <div class="col-md-2">
                                            <mat-form-field appearance="outline">
                                                <mat-label>KEY NAME</mat-label>
                                                <input matInput formControlName="INPUT_NAME" placeholder="" type="text"
                                                    class="example-right-align">

                                            </mat-form-field>


                                        </div>
                                        <div class="col-md-2">
                                            <mat-form-field appearance="outline">
                                                <mat-label>ZONE</mat-label>
                                                <input matInput formControlName="ZONE" placeholder="" type="text"
                                                    class="example-right-align">

                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-2">
                                            <mat-form-field appearance="outline">
                                                <mat-label>UNIT</mat-label>
                                                <input matInput formControlName="UNIT" placeholder="" type="text"
                                                    class="example-right-align">

                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <div>
                                                <mat-label>STATUS</mat-label>
                                            </div>

                                            <mat-radio-group formControlName="INPUT_STATUS"
                                                aria-label="Select an option">
                                                <mat-radio-button color="primary" [value]="macActive">Active
                                                </mat-radio-button>
                                                <mat-radio-button color="primary" [value]="macInactive">In Active
                                                </mat-radio-button>
                                            </mat-radio-group>


                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>

                        </mat-grid-list>
                    </div>
                </div>

            </mat-grid-list>
            <mat-grid-list *ngIf="typeName && typeName.PID" cols="10">
                <button (click)="confirmData()" mat-raised-button class="m-2 btn-theme1">Update Config</button>

                <button mat-raised-button (click)="confirmClose()" class="m-2 btn-theme2">Cancel</button>


            </mat-grid-list>
        </mat-tab>
    </mat-tab-group>
    <mat-grid-list *ngIf="!typeName" cols="10">
        <button (click)="confirmData()" mat-raised-button class="m-2 btn-theme1">Save</button>

        <button mat-raised-button (click)="confirmClose()" class="m-2 btn-theme2">Cancel</button>


    </mat-grid-list>





</form>