.table-card {
  height: 273px;
  overflow: hidden;
  position: relative
}

.theme2 {}

.tbl-status {
  height: 40px;
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8)
}

.mat-table {
  overflow-y: scroll;
}

.example-container {

  height: 240px;

  max-width: 100%;

  overflow: auto;

}
.mat-card:not([class*=mat-elevation-z0]){
  box-shadow: none;
  }
.my-badge {
  padding: 10px;border-radius: 3px;
  display: inline-block;    color: orangered;
}
.my-cell-icon img{
  max-height: 40px;
}
td.mat-cell{
  border: none !important;
}
.defaultBadge {
  background-color: #b2eff9
  ;
}

.thresholdBadge {
  background-color: #e40000;
}