.example-header.mat-toolbar {
  justify-content: start !important;    padding-left: 0 !important;
}
.example-container {
    position: absolute;
    top: 60px;
    bottom: 0px;
    left: 0;
    right: 0;
    background-color: #fff;
  }
  
  .example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;    border: none;
    background: #4a6592;
  }
  
  .example-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #4a6592;
    // background-color: #6387c3;
  //   padding:20px ;
    // box-shadow: 0 1px 2px #000;
    box-shadow:0 -4px 26px #000;
    z-index: 999;
    height: 60px;
  }
  .logodiv{
    height: 60px;
    overflow: hidden;
    background: #fff;    width: 190px;
    text-align: center;
  }
  .logodiv img{
    height: 60px;
  }
  .example-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #253249;
    height: 20px;
    overflow: hidden;
    padding:10px ;
  }
  .logo{
    background-color: #fff;
    height: 60px !important;
  }
  .logo img{
    max-height: 40px;
  }
  .logo mat-icon{
    color:#444
  }
  .top-menu{
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .example-header>button{
    color:#fff;
  }
  .top-menu button{
    color:#fff;
  }
  .active-list-item {
    color: orange !important; /* Note: You could also use a custom theme */
    background: rgba(0,0,0,.4) !important;
    box-shadow: 0 2px 4px #000;
  }
  
  .logo-right{
    position: absolute;
    right:0;top:0px;
    width: 13%;
    height: 60px !important;
    background-color: #fff;
    padding: 10px;
    text-align: center;    display: flex;
  }
  .logo-right span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    width: 100px;
    display: inline-block;
  }
  .mat-nav-list a{
      color:#fff;
  }
  
  
  