<div #table [style.top.px]="service.getProp('t',WIDGET_REQUEST)" [style.left.px]="service.getProp('l',WIDGET_REQUEST)"
  [style.width.px]="service.getProp('W',WIDGET_REQUEST)" [style.height.px]="service.getProp('H',WIDGET_REQUEST)"
  class="inner-panel">

  <mat-card [ngClass]="{'resizable':dataService.getAccess()}" [style.width.px]="service.getProp('W',WIDGET_REQUEST)"
    [style.height.px]="service.getProp('H',WIDGET_REQUEST)" class="overflow-hidden my-card bg11">

    <div class="table-card">
      <app-header-widget appWidgetAccessIf [REQUEST]="WIDGET_REQUEST">

      </app-header-widget>

      <app-footer-widget appWidgetAccessIf [REQUEST]="WIDGET_REQUEST">

      </app-footer-widget>

      <!-- <span appWidgetAccessIf class="savewidget" (click)="saveWidget()">
    <mat-icon color="accent">save</mat-icon>

  </span> -->
      <div class="my-card-footer theme2">
        <mat-card-header class="text-uppercase">
          INSIGHTS OF {{WIDGET_REQUEST && WIDGET_REQUEST?WIDGET_REQUEST.CONFIG_NAME:''}}
        </mat-card-header>
      </div>

      <div class="example-container mat-elevation-z8xxx">


        <table mat-table [dataSource]="dataSource" class="demo-table">


          <ng-container matColumnDef="MAC_ADDRESS">
            <th mat-header-cell [hidden]="true" *matHeaderCellDef> DEVICE ID </th>
            <td mat-cell *matCellDef="let element"> {{element.MAC_ADDRESS}} </td>
          </ng-container>
          <ng-container matColumnDef="STATUS">
            <th mat-header-cell [hidden]="true" *matHeaderCellDef> STATUS </th>
            <td mat-cell *matCellDef="let element">
              <!-- {{element.MAC_STATUS?'ON':'OFF'}} -->
              <mat-icon matTooltip="Device Inactive" *ngIf="element.MAC_STATUS==0" color="warn">change_history
              </mat-icon>
              <mat-icon matTooltip="Device Active" *ngIf="element.MAC_STATUS" class="success">change_history</mat-icon>
              <!-- <img class="tbl-status" src="assets/{{element.MAC_STATUS?'switch-on.png':'switch-off.png'}}"> -->
            </td>
          </ng-container>

          <ng-container matColumnDef="CREATED_DATE">
            <th mat-header-cell [hidden]="true" *matHeaderCellDef> LAST UPDATE </th>
            <td mat-cell *matCellDef="let element"> {{element.CREATED_DATE | date:'short'}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr *ngIf="dataSource.length==0">

            <td mat-cell *matCellDef> No Data </td>

          </tr>
        </table>

      </div>
      <!-- <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
  </mat-paginator> -->
    </div>
  </mat-card>

</div>